.img-fluid {
	width: 30em;
	height: 15em;
}

.card {
	padding: 10px;
	border: 1px solid black ;
	width: 30em;
	display: inline-block;

	
}

.card-body {
	display: inline;
}

.card-title {
font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 3em;
  font-weight: 400;
  line-height: 1;
  
  text-shadow: 2px 2px 3px black;
  padding-bottom: 3px;
  margin: 0
}