/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END RESET */
/* GRID AREA */
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* 16px* 62.5 = 10px = 1rem */ }

body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0; }

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%; }

header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem; }

footer {
  grid-area: footer;
  background-color: #203040;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff; }

header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none; }

header a:hover {
  color: #f08040; }

.brand a {
  font-size: 3rem; }

/* END GRID AREA */
a {
  color: black;
  text-decoration: none; }

a:hover {
  color: #f08040; }

.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center; }

.products li {
  flex: 0 1 30rem;
  margin: 1rem;
  margin-bottom: 0;
  height: 42rem;
  border-top: 0.2 rem #e0e0e0 solid; }

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%; }

.product img {
  max-height: 26rem;
  max-width: 22rem;
  margin-top: 2rem; }

.product-mame {
  line-height: 2.2rem; }

.product-brand {
  font-size: 1.2rem;
  color: #808080; }

.product-price {
  font-size: 2rem; }
